<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>About Page</title>
</head>

<body>
    <header>
        {{> header}}
        <h1>About Page</h1>

    </header>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, id.</p>

    <footer>
        {{> footer}}
    </footer>
</body>

</html>